{% extends './base.html' %}

{% block content %}

<style type="text/css">
    img.img-fluid {
        object-fit: contain; height: 300px !important; width: 533px !important
    }
</style>

<h1>What's in my store? <a  href="/" class="btn btn-sm btn-secondary">back</a></h1>

<hr class="mb-4">

<div class="row">
    {% for skin in data %}
        <div class="col-md-6">
            <h3 class="d-inline">{{ skin.displayName }}</h3>
            <h5 class="ms-3 d-inline">
                <span class="badge bg-dark text-light d-inline">
                    {{ skin.price }}
                    <img class="py-2" width="24px" src="{{ url_for('static', filename='vp-logo.png') }}" style="align-items: center;">
                </span>
            </h5>
            <img class="mb-4 img-fluid" src="{{ skin.displayIcon }}" alt="{{ skin.displayName }}">
        </div>
    {% endfor %}
</div>

<br>
<br>
<br>
<br>

{% endblock %}